<div class="card my-2 pt-2 " style="width: 18rem; ">
  <img [src]="pokemon.urlImg" class="card-img-top img-fluid" [alt]="pokemon.name">
  <div class="card-body bg-light rounded-bottom">
    <h4 class="card-title text-capitalize text-start">{{pokemon.name}}</h4>
    <h6 class="text-start text-muted">Nº {{pokemon.id}}</h6>
    <div class=" my-2 d-flex justify-content-around">
      <!-- <span class="card-text px-1 rounded" *ngFor="let type of pokemon.types"  > {{type}}  </span> -->
      <app-pokemons-tipo *ngFor="let type of pokemon.types " [type]="type"></app-pokemons-tipo>
    </div>
  </div>
</div>