/* You can add global styles to this file, and also import other style files */
.bg-poison{
    background-color: slateblue;
}

.bg-fly{
    background-color: cadetblue;
}

.bg-water{
    background-color: blue;
}

.bg-bug{
    background-color: bisque;
}

.bg-normal{
    background-color: darkgray;
}

.bg-hada{
    background-color: hotpink;
}

.bg-acero{
    background-color: darkgray;
}

.bg-dragon{
    background-color: darkred;
}

.bg-electrico{
    background-color: yellow;
}

.bg-psiq{
    background-color: coral;
}

.bg-roca{
    background-color: brown;
}